@charset "UTF-8";
:root {
  --background-color: #101f27;
  --text-color: #eee;
  --light-text-color: #999;
  --primary-color: #50c3c9;
  --secondary-color:  #f75323;
  --link-color: var(--primary-color);
  --link-hover-color: var(--primary-color);
  --border-color: #eee;
  --bullet-color: var(--secondary-color);
  --nested-bullet-color: var(--primary-color);
  --heading-block-color: var(--primary-color);
  --faded-heading-color: #48555a;
  --code-bg-color: #0a161b;
  --yellow: #fcd534;
  --progress-bar-color: var(--heading-block-color);
  /* --body-font: 'Fira', Helvetica, 'Roboto', -apple-system, system-ui, "Segoe UI", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --heading-font: Helvetica, 'Fira Sans', -apple-system, system-ui, "Segoe UI", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */
  --code-font: 'Fira Code', 'Andale Mono', 'Monaco', 'Consolas', monospace;
  --base-font-size: 10px;
  --sm-font-size: 0.9em;
  --xs-font-size: 0.7em;
  --xxs-font-size: 0.6em;
  --quote-font-size: 2rem; }

  strong, td strong, li strong, blockquote strong {
   color: var(--primary-color); }
  em, strong em, li strong em, blockquote strong em {
    color: var(--yellow); }

.reveal pre, .reveal code {
  font-family: var(--code-font);
  font-size: 1.8rem;
}

section > h3::after {
  display: block;
  content: ' ';
  margin-top: 10px;
  width: 100px;
  height: 8px;
  background: var(--heading-block-color); }

.reveal .slides {
 text-align: left; font-size: 30px;}

 .section-title h4 {
   color: var(--faded-heading-color); }

.reveal ul li::marker {
   color: var(--bullet-color);
}

.reveal ul ul li::marker {
   color: #50c3c9;
}

/* The following is used to keep titles to the top of page */
/* section {
  display: flex !important;
  flex-direction: column;
  top: unset !important; 
  height: 100vh;
} */

/* The following is used to ensure the slide body takes up all available space */
/* section p {
  margin-top: auto !important;
  margin-bottom: auto !important;
} */